html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Monserat', sans-serif;
    text-align: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    text-align:left;
    font-size: 1.5rem;
}

h3{
    color:black;
}

.division{
    display: flex;
    column-gap: 0.5rem;
}

.espaciado{
    display: flex;
    column-gap: 40rem;
    text-align:center;
}

.orden{
    text-align:center;
}

.form-control {
    font-size: 2rem;
}

.form-select {
    font-size: 2rem;
}

.divisionUsuario{
    display: flex;
    column-gap: 20rem;
}
